{% extends "AppEduca/base.html" %}
{% load static %}
{% block title %} Cursos {% endblock title %} 
{% block titulo %} Cursos {% endblock titulo %}
{% block textForm %} <h3 class="ms-4">Agregar Curso:</h3> {% endblock textForm %}

{% block main %}
    <section id="Cursos">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppEduca/assets/img/cursos.png' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Cursos</h2>
                        <p>Ofrecemos gran variedad de cursos para que elijas el que mas se ajuste a tus necesidades.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block formulario %}
{% include "AppEduca/formulario.html" %}
{% endblock formulario %}