{% extends "AppEduca/base.html" %}
{% load static %}
{% block title %} Profesores {% endblock title %} 
{% block titulo%} Profesores {% endblock titulo %}
{% block textForm %} <h3 class="ms-4">Agregar Profesor:</h3> {% endblock textForm %}

{% block main %}
    <section id="Profesores">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppEduca/assets/img/profesores.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Profesores</h2>
                        <p>¡¡¡Contamos con los mejores profesores!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block formulario %}
{% include "AppEduca/formulario.html" %}
{% endblock formulario %}